<h1 style="text-align:center">New User</h1>
<!--
<form action="/users" method="POST" accept-charset="utf-8" data-turbo="false">
  <div>
    <label for="username">Enter a username: </label><br>
    <input name="user[username]" id="username" type="text">
  </div>
  <div>
    <label for="email">Enter your email address: </label><br>
    <input type="email" name="user[email]" id="email">
  </div>
  <div>
    <label for="password">Enter a password</label><br>
    <input type="password" name="user[password]" id="password">
  </div>
  <input type="submit" name="commit" value="Create User">
  </form> -->

  <%= form_tag("/users", method: :post) do %>
    <div>
    <%= label_tag(:username, "Enter a username:") %><br>
    <%= text_field_tag('user[username]') %>
    </div>
    <div>
      <%= label_tag(:email, "Enter an email:") %><br>
      <%= email_field_tag('user[email]') %>
    </div>
    <div>
      <%= label_tag(:password, "Enter a password:") %><br>
      <%= password_field_tag('user[password]') %>
    </div>

    <%= submit_tag("Create User") %>
<% end %>
